<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.grouvy.chat.mapper.ChatMapper">

 <!--public List<User> getMyListByDeptNo(int departmentNo, int userId);-->
 <select id="getMyListByDeptNo" resultType="User">
    SELECT
          U.USER_ID                             AS userId
         ,D.DEPARTMENT_NAME                     AS "department.departmentName"
         , U.NAME                               AS name
         , P.POSITION_NAME                      AS "position.positionName"
        ,U.PROFILE_IMG_PATH                     AS profileImgPath
    FROM
         GROUVY_USERS U,
         GROUVY_DEPARTMENTS D,
         GROUVY_POSITIONS P
    WHERE
        U.DEPARTMENT_ID = D.DEPARTMENT_ID
      AND U.POSITION_NO = P.POSITION_NO
      AND U.DEPARTMENT_ID = #{departmentNo}
      AND U.IS_DELETED = 'N'
      AND U.USER_ID != #{userId}
    ORDER BY P.POSITION_NO ASC
 </select>

  <!--public User getUserInfoByUserId(int userId);-->
  <select id="getUserInfoByUserId" resultType="User">
    SELECT
          U.PROFILE_IMG_PATH                AS profileImgPath
         ,U.NAME                            AS name
         , P.POSITION_NAME                  AS "position.positionName"
         , D.DEPARTMENT_NAME                AS "department.departmentName"
         , U.PHONE_NUMBER                   AS phoneNumber
         , U.EMAIL                          AS email
         , U.USER_ID                        AS userId
    FROM
         GROUVY_USERS U,
         GROUVY_DEPARTMENTS D,
         GROUVY_POSITIONS P
    WHERE U.DEPARTMENT_ID = D.DEPARTMENT_ID
      AND U.POSITION_NO = P.POSITION_NO
      AND U.USER_ID = #{userId}
      AND U.IS_DELETED = 'N'

  </select>

  <!--public ChatRoom getChatRoomIdByUserId(int userId, int selectUserId);-->
  <select id="getRoomByUserId" resultType="ChatRoom">
    SELECT
        R.ROOM_ID           AS roomId
        ,R.IS_GROUP         AS isGroup
    FROM
        GROUVY_CHAT_ROOMS R, GROUVY_CHAT_ROOM_USERS U
    WHERE
        R.ROOM_ID = U.ROOM_ID
        AND R.IS_GROUP = 'N'
        AND U.USER_ID IN(#{userId},#{selectUserId})
    GROUP BY
        R.ROOM_ID, R.IS_GROUP
    HAVING
        COUNT(DISTINCT U.USER_ID) = 2
  </select>

    <!--public void insertChatRoom(ChatRoom chatRoom);-->
    <insert id="insertChatRoom" parameterType="ChatRoom">
        <selectKey keyProperty="roomId" resultType="int" order="BEFORE">
            SELECT
                CHAT_ROOMS_ROOM_ID_SEQ.NEXTVAL
            FROM
                DUAL
        </selectKey>
    INSERT INTO GROUVY_CHAT_ROOMS
    (ROOM_ID,IS_GROUP)
    VALUES
    (#{roomId},#{isGroup})
    </insert>


  <!--public void insertChatRoomUser(int roomId, int userId);-->
  <insert id="insertChatRoomUser">
    INSERT INTO GROUVY_CHAT_ROOM_USERS
        (ROOM_ID,USER_ID)
    VALUES
        (#{roomId}, #{userId})
  </insert>

    <!--public void insertMessage(ChatMessage chatMessage);-->
    <insert id="insertMessage" parameterType="ChatMessage">
        <selectKey keyProperty="chatMessageId" resultType="int" order="BEFORE">
            SELECT
                CHAT_MESSAGES_CHAT_MESSAGE_ID_SEQ.NEXTVAL
            FROM
                DUAL
        </selectKey>
        INSERT INTO GROUVY_CHAT_MESSAGES
            (CHAT_MESSAGE_ID
             ,ROOM_ID
             ,SENDER_ID
             ,CHAT_MESSAGE_CONTENT
             ,CHAT_MESSAGE_TYPE)
        VALUES
            (#{chatMessageId}
             ,#{roomId}
             ,#{senderId}
             ,#{content}
             ,#{messageType})

    </insert>

    <!--public List<User> getChatRoomUserByRoomId(int roomId);-->
    <select id="getChatRoomUserByRoomId" resultType="User">
        SELECT
            U.USER_ID           AS userId
           ,U.NAME              AS name
        FROM
            GROUVY_CHAT_ROOMS R, GROUVY_CHAT_ROOM_USERS CU, GROUVY_USERS U
        WHERE
            R.ROOM_ID = CU.ROOM_ID
            AND U.USER_ID = CU.USER_ID
            AND R.ROOM_ID = #{roomId}
    </select>

    <!--public ChatMessage getChatMessage(long chatMessageId);-->
    <select id="getChatMessage" resultType="ChatMessage">
        SELECT
             M.CHAT_MESSAGE_ID                       AS chatMessageId
            ,M.ROOM_ID                               AS roomId
            ,M.SENDER_ID                             AS senderId
            ,M.CHAT_MESSAGE_CONTENT                  AS content
            ,M.CHAT_MESSAGE_TYPE                     AS messageType
            ,M.CREATED_DATE                          AS createdDate
            ,U.NAME                                  AS "user.name"
            ,U.PROFILE_IMG_PATH                      AS "user.profileImgPath"
        FROM
            GROUVY_CHAT_MESSAGES M , GROUVY_USERS U
        WHERE
            M.SENDER_ID = U.USER_ID
            AND M.CHAT_MESSAGE_ID = #{chatMessageId}
    </select>

    <!--public List<ChatMessage> getChatMessageByRoomId(int roomId); -->
    <select id="getChatMessageByRoomId" resultType="ChatMessage">
        SELECT
            M.CHAT_MESSAGE_ID                       AS chatMessageId
             ,M.ROOM_ID                               AS roomId
             ,M.SENDER_ID                             AS senderId
             ,M.CHAT_MESSAGE_CONTENT                  AS content
             ,M.CHAT_MESSAGE_TYPE                     AS messageType
             ,M.CREATED_DATE                          AS createdDate
             ,U.NAME                                  AS "user.name"
             ,U.PROFILE_IMG_PATH                      AS "user.profileImgPath"
        FROM
            GROUVY_CHAT_MESSAGES M,GROUVY_USERS U
        WHERE
            U.USER_ID = M.SENDER_ID
            AND M.ROOM_ID = #{roomId}
        ORDER BY
            M.CREATED_DATE ASC
    </select>
</mapper>